In [1]:
# Dependencies 
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
# load CSV
data = "generated_data/purchase_data.json"

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
data_pd = pd.read_json(data) #, encoding='iso-8859-1', low_memory=False)
data_pd.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

# PLAYER COUNT

In [5]:
total_players = data_pd["SN"].unique()
len(total_players)

573

# PURCHASING ANALYSIS(TOTAL)

In [6]:
#* Number of Unique Items
unique_items = data_pd["Item Name"].unique()
unique_items = len(unique_items)
unique_items

179

In [7]:
#* Average Purchase Price
avg_purchase_price = data_pd["Price"].mean()
avg_purchase_price

2.931192307692303

In [8]:
#* Total Number of Purchases
number_of_purchases = data_pd["Item ID"].count()
number_of_purchases

780

In [9]:
#* Total Revenue
total_revenue = data_pd["Price"].sum()
total_revenue

2286.3299999999963

In [10]:
purchasing_df = pd.DataFrame([
    {"Number of Unique Items":unique_items,
    "Average Price":avg_purchase_price,
    "Number of Purchases":number_of_purchases,
    "Total Revenue":total_revenue}
])
purchasing_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       2.931192                  780                     179        2286.33

# GENDER DEMOGRAPHICS

In [11]:
#* Percentage and Count of Male Players
#* Percentage and Count of Female Players
#* Percentage and Count of Other / Non-Disclosed

total_gender = data_pd["Gender"].count()
male = data_pd["Gender"].value_counts()['Male']
female = data_pd["Gender"].value_counts()['Female']
non_gender_specific = total_gender - male - female

male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
non_gender_specific_percent = (non_gender_specific/total_gender) * 100
print(f" % Male: {male_percent} Count Male: {male}\n % Female: {female_percent} Count Female: {female}\n % non_specifc: {non_gender_specific_percent} count non_specific: {non_gender_specific}")

 % Male: 81.15384615384616 Count Male: 633
 % Female: 17.435897435897434 Count Female: 136
 % non_specifc: 1.4102564102564104 count non_specific: 11

# PURCHASING ANALYSIS (GENDER)

In [12]:
gender_df = data_pd.groupby("Gender")
print(gender_df)

<pandas.core.groupby.DataFrameGroupBy object at 0x000002833B6BD0B8>

In [13]:
#  * Purchase Count
gender_purchase_count_df = gender_df["Item ID"].count()
gender_purchase_count_df

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item ID, dtype: int64

In [14]:
#  * Average Purchase Price

gender_average_price_df = gender_df["Price"].mean()
gender_average_price_df

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [15]:
#  * Total Purchase Value

gender_total_purchase_value = gender_df["Price"].sum()
gender_total_purchase_value

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [16]:
gender_analysis_df = pd.DataFrame({
    "Purchase Count":gender_purchase_count_df,
    "Average Purchase Price":gender_average_price_df,
    "Total Purchase Value":gender_total_purchase_value
    })
gender_analysis_df

,Average Purchase Price,Purchase Count,Total Purchase Value
Gender,,,
Female,2.815515,136,382.91
Male,2.950521,633,1867.68
Other / Non-Disclosed,3.249091,11,35.74

In [17]:
#  * Normalized Totals
data_pd.assign(normalized=data_pd.Price.div(data_pd.Gender.map(data_pd.groupby('Gender').Price.count())))

,Age,Gender,Item ID,Item Name,Price,SN,normalized
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,0.005324
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,0.003665
2,34,Male,174,Primitive Blade,2.46,Assastnya25,0.003886
3,21,Male,92,Final Critic,1.36,Pheusrical25,0.002148
4,23,Male,63,Stormfury Mace,1.27,Aela59,0.002006
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,0.002733
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,0.007220
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,0.024412
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,0.004376
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,0.007156
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,0.006019
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,0.002449
12,30,Male,81,Dreamkiss,4.06,Iskossa88,0.006414
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,0.005814
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,0.003886
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,0.007536
16,22,Female,123,Twilight's Carver,1.14,Sundista85,0.008382
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,0.012132
18,28,Male,91,Celeste,3.71,Iskista88,0.005861
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,0.007725
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,0.003681
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,0.002828
22,11,Female,11,Brimstone,2.52,Deural48,0.018529
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,0.003728
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,0.003096
25,21,Male,63,Stormfury Mace,1.27,Idai61,0.002006
26,29,Male,132,Persuasion,3.90,Aerithllora36,0.006161
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,0.003618
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,0.006682
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,0.018088
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,0.002022
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,0.013824
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,0.017426
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,0.003602
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,0.002148
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,0.013824
756,22,Male,6,Rusty Skull,1.20,Siasri67,0.001896
757,35,Male,11,Brimstone,2.52,Seosri62,0.003981
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,0.001912
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,0.003476
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,0.006414
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,0.001959
762,36,Male,52,Hatred,4.39,Lisosiast26,0.006935
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,0.392727
764,25,Male,70,Hope's End,3.89,Assassasda84,0.006145
765,15,Male,13,Serenity,1.49,Aerithnucal56,0.002354
766,22,Female,84,Arcane Gem,2.23,Nitherian58,0.016397
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,0.001912
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,0.005624
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,0.005908
770,22,Male,141,Persuasion,3.27,Aenasu69,0.005166
771,24,Male,25,Hero Cane,1.03,Lassista97,0.001627
772,15,Male,31,Trickster,2.07,Sidap51,0.003270
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,0.003886
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,0.001801
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,0.005719
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,0.002148
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,0.006556
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,0.002717
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,0.026544

# AGE DEMOGRAPHICS

In [18]:
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ['Less than 10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40 or greater']

pd.cut(data_pd["Age"], bins, labels=group_names)

0              35-39
1              20-24
2              30-34
3              20-24
4              20-24
5              20-24
6              20-24
7              25-29
8              25-29
9              30-34
10             20-24
11             20-24
12             30-34
13             20-24
14     40 or greater
15             20-24
16             20-24
17             20-24
18             25-29
19             30-34
20             20-24
21             15-19
22             10-14
23             15-19
24             10-14
25             20-24
26             25-29
27             30-34
28             15-19
29             15-19
           ...
750            20-24
751            25-29
752            15-19
753            20-24
754            30-34
755            20-24
756            20-24
757            35-39
758            20-24
759            15-19
760            25-29
761            25-29
762            35-39
763            25-29
764            25-29
765            15-19
766            20-24
767            20-24
768            20-24
769            20-24
770            20-24
771            20-24
772            15-19
773            20-24
774            20-24
775            20-24
776            10-14
777            20-24
778            20-24
779            20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [Less than 10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40 or greater]

In [19]:
data_pd["Age Group"] = pd.cut(data_pd["Age"], bins, labels=group_names)
data_pd

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20-24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20-24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25-29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20-24
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,20-24
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30-34
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,20-24
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40 or greater
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,20-24
16,22,Female,123,Twilight's Carver,1.14,Sundista85,20-24
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20-24
18,28,Male,91,Celeste,3.71,Iskista88,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,20-24
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15-19
22,11,Female,11,Brimstone,2.52,Deural48,10-14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
25,21,Male,63,Stormfury Mace,1.27,Idai61,20-24
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,15-19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,20-24
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,25-29
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,15-19
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,20-24
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,30-34
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,20-24
756,22,Male,6,Rusty Skull,1.20,Siasri67,20-24
757,35,Male,11,Brimstone,2.52,Seosri62,35-39
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,20-24
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,15-19
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,25-29
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,25-29
762,36,Male,52,Hatred,4.39,Lisosiast26,35-39
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,25-29
764,25,Male,70,Hope's End,3.89,Assassasda84,25-29
765,15,Male,13,Serenity,1.49,Aerithnucal56,15-19
766,22,Female,84,Arcane Gem,2.23,Nitherian58,20-24
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,20-24
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,20-24
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,20-24
770,22,Male,141,Persuasion,3.27,Aenasu69,20-24
771,24,Male,25,Hero Cane,1.03,Lassista97,20-24
772,15,Male,31,Trickster,2.07,Sidap51,15-19
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,20-24
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,20-24
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,20-24
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,10-14
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,20-24
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,20-24
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,20-24

# PURCHASE ANALYSIS(AGE)

In [20]:
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value
#  * Normalized Totals

grouped_age_df = data_pd.groupby("Age Group")
average = grouped_age_df[["Price"]].mean()
average

                  Price
Age Group
Less than 10   2.980714
10-14          2.770000
15-19          2.905414
20-24          2.913006
25-29          2.962640
30-34          3.082031
35-39          2.842857
40 or greater  3.161765

In [21]:
grouped_age_count_df = data_pd.groupby("Age Group")
count = grouped_age_count_df[["Item ID"]].count()
count

               Item ID
Age Group
Less than 10        28
10-14               35
15-19              133
20-24              336
25-29              125
30-34               64
35-39               42
40 or greater       17

In [22]:
age_total_purchase_value = data_pd.groupby("Age Group")
total = age_total_purchase_value[["Price"]].sum()
total

                Price
Age Group
Less than 10    83.46
10-14           96.95
15-19          386.42
20-24          978.77
25-29          370.33
30-34          197.25
35-39          119.40
40 or greater   53.75

In [24]:
#  * Normalized Totals
data_pd.assign(normalized=data_pd.Price.div(data_pd.Age.map(data_pd.groupby('Age').Price.count())))

,Age,Gender,Item ID,Item Name,Price,SN,Age Group,normalized
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39,0.374444
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24,0.053953
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34,0.307500
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24,0.031628
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24,0.022281
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20-24,0.017653
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20-24,0.046633
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29,0.158095
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25-29,0.041343
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34,0.283125
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20-24,0.054429
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,20-24,0.015816
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30-34,0.225556
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,20-24,0.064561
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40 or greater,0.175714
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,20-24,0.110930
16,22,Female,123,Twilight's Carver,1.14,Sundista85,20-24,0.016765
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20-24,0.024265
18,28,Male,91,Celeste,3.71,Iskista88,25-29,0.742000
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34,0.305625
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,20-24,0.033286
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15-19,0.038085
22,11,Female,11,Brimstone,2.52,Deural48,10-14,0.280000
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19,0.107273
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14,0.217778
25,21,Male,63,Stormfury Mace,1.27,Idai61,20-24,0.029535
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29,0.185714
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34,0.286250
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,15-19,0.090000
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19,0.106957
...,...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,20-24,0.022456
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,25-29,0.144615
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,15-19,0.050426
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,20-24,0.023265
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,30-34,0.085000
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,20-24,0.027647
756,22,Male,6,Rusty Skull,1.20,Siasri67,20-24,0.017647
757,35,Male,11,Brimstone,2.52,Seosri62,35-39,0.210000
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,20-24,0.012347
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,15-19,0.100000
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,25-29,0.193333
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,25-29,0.248000
762,36,Male,52,Hatred,4.39,Lisosiast26,35-39,0.627143
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,25-29,0.227368
764,25,Male,70,Hope's End,3.89,Assassasda84,25-29,0.058060
765,15,Male,13,Serenity,1.49,Aerithnucal56,15-19,0.031702
766,22,Female,84,Arcane Gem,2.23,Nitherian58,20-24,0.032794
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,20-24,0.012347
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,20-24,0.082791
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,20-24,0.053429
770,22,Male,141,Persuasion,3.27,Aenasu69,20-24,0.048088
771,24,Male,25,Hero Cane,1.03,Lassista97,20-24,0.014714
772,15,Male,31,Trickster,2.07,Sidap51,15-19,0.044043
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,20-24,0.057209
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,20-24,0.016286
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,20-24,0.053235
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,10-14,0.226667
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,20-24,0.042347
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,20-24,0.017551
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,20-24,0.063333

# TOP SPENDERS

In [25]:
#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#  * SN
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value

grouped_spenders = data_pd.groupby("SN")
print(grouped_spenders)

<pandas.core.groupby.DataFrameGroupBy object at 0x000002833B6BD048>

In [26]:
total_purchases = pd.DataFrame(data_pd.groupby("SN")["Price"].sum())

total_purchases.reset_index(inplace=True)
total_purchases.columns=["SN", "Price"]

total_purchases.head(5)

             SN  Price
0  Adairialis76   2.46
1    Aduephos78   6.70
2     Aeduera68   5.80
3        Aela49   2.46
4        Aela59   1.27

In [27]:
average_purchases = pd.DataFrame(data_pd.groupby("SN")["Price"].mean())

average_purchases.reset_index(inplace=True)
average_purchases.columns=["SN", "Average Price"]

average_purchases.head(5)

             SN  Average Price
0  Adairialis76       2.460000
1    Aduephos78       2.233333
2     Aeduera68       1.933333
3        Aela49       2.460000
4        Aela59       1.270000

In [28]:
purchases_count = pd.DataFrame(data_pd.groupby("SN")["Item ID"].count())

purchases_count.reset_index(inplace=True)
purchases_count.columns=["SN", "Number of Purchases"]

purchases_count.head(5)

             SN  Number of Purchases
0  Adairialis76                    1
1    Aduephos78                    3
2     Aeduera68                    3
3        Aela49                    1
4        Aela59                    1

In [29]:
merged_purchases = pd.merge(purchases_count,average_purchases,on="SN")
merged_purchases.head(5)

             SN  Number of Purchases  Average Price
0  Adairialis76                    1       2.460000
1    Aduephos78                    3       2.233333
2     Aeduera68                    3       1.933333
3        Aela49                    1       2.460000
4        Aela59                    1       1.270000

In [30]:
merged_purchases = pd.merge(merged_purchases,total_purchases,on="SN")
merged_purchases.head(5)

             SN  Number of Purchases  Average Price  Price
0  Adairialis76                    1       2.460000   2.46
1    Aduephos78                    3       2.233333   6.70
2     Aeduera68                    3       1.933333   5.80
3        Aela49                    1       2.460000   2.46
4        Aela59                    1       1.270000   1.27

In [31]:
sorted_total = merged_purchases.sort_values("Price",ascending=False)
sorted_total.head(5)

              SN  Number of Purchases  Average Price  Price
538  Undirrala66                    5       3.412000  17.06
428     Saedue76                    4       3.390000  13.56
354  Mindimnya67                    4       3.185000  12.74
181   Haellysu29                    3       4.243333  12.73
120       Eoda93                    3       3.860000  11.58

In [32]:
#**Most Popular Items**

#* Identify the 5 most popular items by purchase count, then list (in a table):
#  * Item ID
#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value

popular_items = data_pd.groupby(["Item ID","Item Name"])

popular_items2 = popular_items.mean()

print(popular_items2)

popular_items2.reset_index(inplace=True)

                                                            Age  Price
Item ID Item Name
0       Splinter                                      30.000000   1.82
1       Crucifer                                      22.250000   2.28
2       Verdict                                       15.000000   3.40
3       Phantomlight                                  15.000000   1.79
4       Bloodlord's Fetish                            20.000000   2.28
5       Putrid Fan                                    24.666667   1.32
6       Rusty Skull                                   22.333333   1.20
7       Thorn, Satchel of Dark Souls                  22.333333   4.51
8       Purgatory, Gem of Regret                      21.833333   3.91
9       Thorn, Conqueror of the Corrupted             21.500000   2.04
10      Sleepwalker                                   21.333333   1.73
11      Brimstone                                     21.571429   2.52
12      Dawne                                         21.600000   4.30
13      Serenity                                      20.444444   1.49
14      Possessed Core                                16.600000   1.59
15      Soul Infused Crystal                          19.166667   1.03
16      Restored Bauble                               17.750000   3.11
17      Lazarus, Terror of the Earth                  15.333333   3.47
18      Torchlight, Bond of Storms                    22.571429   1.77
19      Pursuit, Cudgel of Necromancy                 20.000000   3.98
20      Netherbane                                    18.500000   1.48
21      Souleater                                     17.333333   3.27
22      Amnesia                                       22.333333   3.57
23      Crucifer                                      20.750000   2.77
24      Warped Fetish                                 22.000000   2.41
25      Hero Cane                                     23.750000   1.03
26      Unholy Wand                                   17.250000   1.88
27      Riddle, Tribute of Ended Dreams               17.500000   3.96
28      Flux, Destroyer of Due Diligence              23.000000   3.04
29      Chaos, Ender of the End                       25.000000   3.79
...                                                         ...    ...
154     Feral Katana                                  20.857143   2.19
155     War-Forged Gold Deflector                     26.000000   3.73
156     Soul-Forged Steel Shortsword                  26.000000   1.16
157     Spada, Etcher of Hatred                       23.000000   2.21
158     Darkheart, Butcher of the Champion            18.571429   3.56
159     Oathbreaker, Spellblade of Trials             23.000000   3.01
160     Azurewrath                                    16.600000   2.22
161     Devine                                        21.400000   1.45
162     Abyssal Shard                                 22.333333   2.04
163     Thunderfury Scimitar                          28.000000   3.02
164     Exiled Doomblade                              24.000000   1.92
165     Bone Crushing Silver Skewer                   29.000000   3.37
166     Thirsty Iron Reaver                           24.000000   4.25
167     Malice, Legacy of the Queen                   23.000000   2.38
168     Sun Strike, Jaws of Twisted Visions           40.000000   2.64
169     Interrogator, Blood Blade of the Queen        21.500000   3.32
170     Shadowsteel                                   19.200000   1.98
171     Scalpel                                       28.000000   3.62
172     Blade of the Grave                            25.142857   1.69
173     Stormfury Longsword                           24.800000   4.83
174     Primitive Blade                               28.800000   2.46
175     Woeful Adamantite Claymore                    21.333333   1.24
176     Relentless Iron Skewer                        21.000000   2.97
177     Winterthorn, Defender of Shifting Worlds      19.250000   4.89
178     Oathbreaker, Last Hope of the Breaking Storm  22.000000   2.41
179     Wolf, Promise of the Moonwalker               25.428571   1.88
180     Stormcaller                                   25.400000   2.78
181     Reaper's Toll                                 27.333333   4.56
182     Toothpick                                     27.800000   3.48
183     Dragon's Greatsword                           21.800000   2.36

[183 rows x 2 columns]

In [33]:
popular_items2 = pd.DataFrame(popular_items2[["Item Name","Item ID"]])
#popular_items.reset_index(inplace=False)
#popular_items.columns=["Item ID","Item Name"]
popular_items2.head()

            Item Name  Item ID
0            Splinter        0
1            Crucifer        1
2             Verdict        2
3        Phantomlight        3
4  Bloodlord's Fetish        4

In [34]:
purchases_count = pd.DataFrame(data_pd.groupby("Item ID")["Age"].count())

purchases_count.reset_index(inplace=True)
purchases_count.columns=["Item ID", "Number of Purchases"]

purchases_count.head(5)

   Item ID  Number of Purchases
0        0                    1
1        1                    4
2        2                    1
3        3                    1
4        4                    1

In [35]:
total_purchases = pd.DataFrame(data_pd.groupby("Item ID")["Price"].sum())

total_purchases.reset_index(inplace=True)
total_purchases.columns=["Item ID", "Total Purchase Value"]

total_purchases.head(5)

   Item ID  Total Purchase Value
0        0                  1.82
1        1                  9.12
2        2                  3.40
3        3                  1.79
4        4                  2.28

In [36]:
average_price = pd.DataFrame(data_pd.groupby("Item ID")["Price"].mean())

average_price.reset_index(inplace=True)
average_price.columns=["Item ID", "Average Price"]

average_price.head(5)

   Item ID  Average Price
0        0           1.82
1        1           2.28
2        2           3.40
3        3           1.79
4        4           2.28

In [37]:
merged_purchases = pd.merge(popular_items2,purchases_count,on="Item ID")
merged_purchases.head(5)

            Item Name  Item ID  Number of Purchases
0            Splinter        0                    1
1            Crucifer        1                    4
2             Verdict        2                    1
3        Phantomlight        3                    1
4  Bloodlord's Fetish        4                    1

In [38]:
merged_purchases = pd.merge(merged_purchases,total_purchases,on="Item ID")
merged_purchases.head(5)

            Item Name  Item ID  Number of Purchases  Total Purchase Value
0            Splinter        0                    1                  1.82
1            Crucifer        1                    4                  9.12
2             Verdict        2                    1                  3.40
3        Phantomlight        3                    1                  1.79
4  Bloodlord's Fetish        4                    1                  2.28

In [39]:
merged_purchases = pd.merge(merged_purchases,average_price,on="Item ID")
merged_purchases.head(5)

,Item Name,Item ID,Number of Purchases,Total Purchase Value,Average Price
0,Splinter,0,1,1.82,1.82
1,Crucifer,1,4,9.12,2.28
2,Verdict,2,1,3.40,3.40
3,Phantomlight,3,1,1.79,1.79
4,Bloodlord's Fetish,4,1,2.28,2.28

In [40]:
sorted_total = merged_purchases.sort_values("Number of Purchases",ascending=False)
sorted_total.head(5)

,Item Name,Item ID,Number of Purchases,Total Purchase Value,Average Price
39,"Betrayal, Whisper of Grieving Widows",39,11,25.85,2.35
84,Arcane Gem,84,11,24.53,2.23
31,Trickster,31,9,18.63,2.07
174,Woeful Adamantite Claymore,175,9,11.16,1.24
13,Serenity,13,9,13.41,1.49

# MOST PROFITABLE ITEMS

In [41]:
sorted_total = merged_purchases.sort_values("Total Purchase Value",ascending=False)
sorted_total.head(5)

,Item Name,Item ID,Number of Purchases,Total Purchase Value,Average Price
34,Retribution Axe,34,9,37.26,4.14
115,Spectral Diamond Doomblade,115,7,29.75,4.25
32,Orenmir,32,6,29.70,4.95
103,Singed Scalpel,103,6,29.22,4.87
107,"Splitter, Foe Of Subtlety",107,8,28.88,3.61